In [1]:
import pandas as pd
import requests
import json
import base64
import tensorflow as tf

In [2]:
data = pd.read_csv('dataset/employee_data_clean.csv')

data

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,38,0.0,Travel_Frequently,1444,Human Resources,1,Master,Other,1,...,Medium,80,1,7,2,Excellent,6,2,1,2
1,2,37,1.0,Travel_Rarely,1141,Research & Development,11,College,Medical,1,...,Low,80,0,15,2,Low,1,0,0,0
2,3,51,1.0,Travel_Rarely,1323,Research & Development,4,Master,Life Sciences,1,...,High,80,3,18,2,Outstanding,10,0,2,7
3,4,42,0.0,Travel_Frequently,555,Sales,26,Bachelor,Marketing,1,...,Very High,80,1,23,2,Outstanding,20,4,4,8
4,5,40,0.0,Travel_Rarely,1194,Research & Development,2,Master,Medical,1,...,Medium,80,3,20,2,Excellent,5,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1466,38,0.0,Travel_Rarely,168,Research & Development,1,Bachelor,Life Sciences,1,...,Very High,80,0,10,4,Outstanding,1,0,0,0
1466,1467,50,0.0,Travel_Rarely,813,Research & Development,17,Doctor,Life Sciences,1,...,High,80,3,19,3,Excellent,14,11,1,11
1467,1468,28,1.0,Travel_Rarely,1485,Research & Development,12,Below College,Life Sciences,1,...,Very High,80,0,1,4,Good,1,1,0,0
1468,1469,40,0.0,Non-Travel,458,Research & Development,16,College,Life Sciences,1,...,Medium,80,1,6,0,Excellent,4,2,0,0
1469,1470,19,1.0,Travel_Frequently,602,Sales,1,Below College,Technical Degree,1,...,Low,80,0,1,5,Outstanding,0,0,0,0

Memindah kolom Attrition menjadi kolom terakhir

In [3]:
attrition_col = data.pop('Attrition')
data['Attrition'] = attrition_col

data

,EmployeeId,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,1,38,Travel_Frequently,1444,Human Resources,1,Master,Other,1,Very High,...,80,1,7,2,Excellent,6,2,1,2,0.0
1,2,37,Travel_Rarely,1141,Research & Development,11,College,Medical,1,Low,...,80,0,15,2,Low,1,0,0,0,1.0
2,3,51,Travel_Rarely,1323,Research & Development,4,Master,Life Sciences,1,Low,...,80,3,18,2,Outstanding,10,0,2,7,1.0
3,4,42,Travel_Frequently,555,Sales,26,Bachelor,Marketing,1,High,...,80,1,23,2,Outstanding,20,4,4,8,0.0
4,5,40,Travel_Rarely,1194,Research & Development,2,Master,Medical,1,High,...,80,3,20,2,Excellent,5,3,0,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1466,38,Travel_Rarely,168,Research & Development,1,Bachelor,Life Sciences,1,High,...,80,0,10,4,Outstanding,1,0,0,0,0.0
1466,1467,50,Travel_Rarely,813,Research & Development,17,Doctor,Life Sciences,1,Very High,...,80,3,19,3,Excellent,14,11,1,11,0.0
1467,1468,28,Travel_Rarely,1485,Research & Development,12,Below College,Life Sciences,1,High,...,80,0,1,4,Good,1,1,0,0,1.0
1468,1469,40,Non-Travel,458,Research & Development,16,College,Life Sciences,1,High,...,80,1,6,0,Excellent,4,2,0,0,0.0
1469,1470,19,Travel_Frequently,602,Sales,1,Below College,Technical Degree,1,High,...,80,0,1,5,Outstanding,0,0,0,0,1.0

In [4]:
inputs = data.iloc[200, :34].to_dict()
inputs

{'EmployeeId': 201,
 'Age': 40,
 'BusinessTravel': 'Travel_Rarely',
 'DailyRate': 1342,
 'Department': 'Sales',
 'DistanceFromHome': 9,
 'Education': 'College',
 'EducationField': 'Medical',
 'EmployeeCount': 1,
 'EnvironmentSatisfaction': 'Low',
 'Gender': 'Male',
 'HourlyRate': 47,
 'JobInvolvement': 'High',
 'JobLevel': 2,
 'JobRole': 'Sales Executive',
 'JobSatisfaction': 'Low',
 'MaritalStatus': 'Married',
 'MonthlyIncome': 5473,
 'MonthlyRate': 19345,
 'NumCompaniesWorked': 0,
 'Over18': 'Y',
 'OverTime': 'No',
 'PercentSalaryHike': 12,
 'PerformanceRating': 'Excellent',
 'RelationshipSatisfaction': 'Very High',
 'StandardHours': 80,
 'StockOptionLevel': 0,
 'TotalWorkingYears': 9,
 'TrainingTimesLastYear': 5,
 'WorkLifeBalance': 'Outstanding',
 'YearsAtCompany': 8,
 'YearsInCurrentRole': 4,
 'YearsSinceLastPromotion': 7,
 'YearsWithCurrManager': 1}

In [5]:
data.iloc[102, :35]

EmployeeId                                     103
Age                                             55
BusinessTravel                       Travel_Rarely
DailyRate                                     1441
Department                  Research & Development
DistanceFromHome                                22
Education                                 Bachelor
EducationField                    Technical Degree
EmployeeCount                                    1
EnvironmentSatisfaction                        Low
Gender                                        Male
HourlyRate                                      94
JobInvolvement                              Medium
JobLevel                                         1
JobRole                         Research Scientist
JobSatisfaction                             Medium
MaritalStatus                             Divorced
MonthlyIncome                                 3537
MonthlyRate                                  23737
NumCompaniesWorked                               5
Over18                                           Y
OverTime                                        No
PercentSalaryHike                               12
PerformanceRating                        Excellent
RelationshipSatisfaction                 Very High
StandardHours                                   80
StockOptionLevel                                 1
TotalWorkingYears                                8
TrainingTimesLastYear                            1
WorkLifeBalance                          Excellent
YearsAtCompany                                   4
YearsInCurrentRole                               2
YearsSinceLastPromotion                          1
YearsWithCurrManager                             2
Attrition                                      0.0
Name: 102, dtype: object

In [6]:
def prepare_json(inputs: dict):
    feature_spec = dict()

    for keys, values in inputs.items():
        if isinstance(values, float):
            feature_spec[keys] = tf.train.Feature(float_list=tf.train.FloatList(value=[values]))
        elif isinstance(values, int):
            feature_spec[keys] = tf.train.Feature(int64_list=tf.train.Int64List(value=[values]))
        elif isinstance(values, str):
            feature_spec[keys] = tf.train.Feature(bytes_list=tf.train.BytesList(value=[values.encode()]))

    example = tf.train.Example(
        features=tf.train.Features(feature=feature_spec)
    ).SerializeToString()

    result = [
        {
            "examples": {
                "b64": base64.b64encode(example).decode()
            }
        }
    ]

    return json.dumps({
        "signature_name": "serving_default",
        "instances": result,
    })

json_data = prepare_json(inputs)

endpoint = "http://localhost:8080/v1/models/attrition-classification-model:predict"
response = requests.post(endpoint, data=json_data)

prediction = response.json().get("predictions")
if prediction:
    prediction_value = prediction[0][0]
    result = "Not Attrition" if prediction_value < 0.5 else "Attrition"
else:
    result = "Error: No predictions found in response."

print(result)

Not Attrition

Setelah dilakukan prediksi menggunakan data input, hasilnya adalah Not Attrition, dan hasil ini adalah benar sesuai dataset